<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>
        <h1>
            <a href="{{ url_for('index') }}"><span class="CS121">CS 121</span></a>
        </h1>
        <div class="wrap">
            <div class="search">
                <form action="/search" method="POST">
                    {{ form.csrf_token }}
                    {{ form.ids(class="searchTerm") }} 
                    <button type="submit" name="Search" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="allLinks">
            {% for i in range(0, len) %} 
                <li><a class="links" href="{{listOfUrls[i]}}">{{listOfUrls[i]}}</a></li>
            {% endfor %}
        </div>
    </body>
</html>
